
.flex-container{
  display: inline-flex;
  flex-direction: column;
  background-color: lightblue;
  width: 70%;
}

.aligner {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  flex-wrap: wrap;
}

.aligner-item { 
  flex: 1 1 20%;
  margin: 0.2em; 
  background-color: white;
  padding: 0.1em 0.5em 0.1em 0.5em;
} 


.hide{
  background-color: red;

}

