
.flex-container{
  display: inline-flex;
  flex-direction: column;
  background-color: lightblue;
  width: 75%;
}

.aligner {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  flex-wrap: wrap;
}

.aligner-div { 
  flex: 1 1 23%;
  margin: 0.2em; 
  background-color: white;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-style: outset;
	border-color: white;
} 

.aligner-btn { 
  flex: 1 1 23%;
  float: right;
  min-width: 1.6em;
  background-color: lightgrey;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-style: outset;
	border-color: white;
} 

.aligner-btn:hover { 

}

.aligner-btn:active { 
  background-color: lightblue;
}


.highlight{
	background-color: yellow;
}

.on{
	background-color: #8DF08C;
	border-style: outset;
}

.off{
	background-color: #ED9E98;
	border-style: inset;
}


.greyed_out{
	opacity: 0.6;
	border-style: inset;
}

.hidden{
	display: none;
}


