
.flex-container{
  display: inline-flex;
  flex-direction: column;
  background-color: lightblue;

}

.aligner {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

}

.aligner-item { 
  display: flex;
  height: auto; /* Or whatever */
   /* Magic! */
  margin: 0.2em; 

  background-color: white;
  justify-content: center;
  padding: 0 0.3em 0 0.3em;

} 


.hide{
  opacity: 0;
  width: 0;
  padding: 0;
  margin: 0;
}